x3d {
  border: 0px;
  background: #E1FFEF;
}

body {
  background-color: #E1FFEF;
}

h1 {
  font-family: Arial;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
h2 {
  text-align:center;
  margin:1em;
}
div {
  font-family: arial;

}
p1 {
  float : right;
}
p {
  color:rgba(120,120,120,1)
}
.box1 {
  float:left;
  margin:5px;
  padding:15px;
  width:600px;
  height:400px;
  border:0px;
}
.box2 {
  float: left;
  margin: 5px;
  padding: 15px;
  width: 200px;
  border: 0px;
}
.box3 {
  float: left;
  margin: 5px;
  padding: 15px;
  width: 400;
  border: 0px;
  clear: both;
}
