* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 100px;

  background: #E1FFEF;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 2em 0 1em;

  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 2em 0 1em;

  font-size: 2em;
}

p {
  color: rgb(120,120,120);
  text-align: justify;
}

article {
  width: 800px;
  margin: 5px auto;
}

.right {
  float: right;
  width: 200px;
  margin-left: 10px;
  padding-left: 10px;

  position: relative;
}
.right:after {
  content: '';
  position: absolute;

  background: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 20px;
  bottom: 20px;
  width: 1px;
}

[id|=sample] {
  /*
  background: white;
  box-shadow: 0 0 10px 10px white;
  */
  text-align: center;
}

#sample-0 > img {
  height: 480px;
}

#sample-1 > img {
  width: 995px;
}

#sample {
  padding: 200px 0;
}

x3d {
  border: none;
  float: none;
}

.x3dom-canvas {
  width: 80%;
  float: none !important;
}
