x3d {
  border: 0px;
  background: #E1FFEF;
}

body {
  background-color: #E1FFEF;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

h2 {
  text-align:center;
  margin:1em;
}

div {
  font-family: arial;
}

p {
  color:rgba(120,120,120,1)
}

article {
  width: 800px;
  margin: 5px auto;
}

.right {
  float: right;
  width: 200px;
  margin-left: 10px;
  padding-left: 10px;

  position: relative;
}
.right:after {
  content: '';
  position: absolute;

  background: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 20px;
  bottom: 20px;
  width: 1px;
}

.box3 {
  float: left;
  margin: 5px;
  padding: 15px;
  width: 400;
  border: 0px;
  clear: both;
}
